#section1-inicio div, .main-productos div {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.main-productos {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

#header-nav {
  background: radial-gradient(circle, #2d2d50, #11111f);
}
#header-nav li {
  margin: 0 8px;
}
#header-nav li a {
  color: #e4dde5;
  font-size: 1em;
}
#header-nav li a:hover {
  color: #c42fe9;
}

.nav-ul {
  padding-left: 16px;
}

.buscar-nav input {
  width: 100%;
  background-color: #e4dde5;
  border: none;
  border-radius: 12px;
  padding: 6px 15px;
}

.image-nav {
  height: 40px;
  margin: 0 1em;
}

/*----------CARRUSEL--------*/
#carrusel-portada {
  margin: 16px 50px;
}
#carrusel-portada button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #e4dde5;
}
#carrusel-portada .active {
  background-color: #11111f;
}

@media (max-width: 780px) {
  #carrusel-portada {
    display: none;
  }
}
/*----------TITULOS--------*/
#h1-ofertas, #h1-novedades {
  font-style: italic;
  background: radial-gradient(circle, #2d2d50, #11111f);
  color: #e4dde5;
  padding: 10px 0 10px 30px;
  margin: 20px 0;
}

@media (max-width: 780px) {
  #h1-ofertas {
    font-size: calc(1em + 1.5vw);
    margin-top: 20px;
  }
}
/*----------MAIN, GALERIA--------*/
.main-productos {
  grid-gap: 3em;
  padding: 15px 30px 30px;
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(200px, 0.5fr));
}
.main-productos div {
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: solid 1px #e4dde5;
  border-radius: 10px;
}
.main-productos div:hover {
  transform: scale(1.02);
  transition: all 0.3s;
  box-shadow: 1px 2px 7px 0 lightgrey;
}
.main-productos img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 85%;
}
.main-productos p {
  border-top: solid 1px #e4dde5;
  margin-top: 10px;
  padding-top: 5px;
  font-size: 1em;
  font-weight: 400;
}

@media (max-width: 780px) {
  .main-productos {
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(125px, 0.7fr));
  }
  .main-productos p {
    font-size: 0.8em;
  }
}
/*----------SECTION--------*/
#section1-inicio {
  background-image: url("../imagenes/portadafoot.png");
  background-size: cover;
  margin-block: 20px;
}
#section1-inicio div {
  flex-wrap: nowrap;
  padding: 100px 0;
}
#section1-inicio div ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #e4dde5;
}
#section1-inicio div ul li {
  font-weight: 400;
  font-size: 1.1em;
  margin-inline: 40px;
  text-align: center;
}

@media (max-width: 780px) {
  #section1-inicio div {
    flex-direction: column;
    padding: 70px 0;
  }
  #section1-inicio div ul:first-child {
    margin-bottom: 50px;
  }
  #section1-inicio div li {
    font-size: 0.8em;
  }
}
/*--------------ESTILO DE "FAQS" Y "NOSOTROS"--------------*/
.body-nosotros-contacto {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e4dde5;
}

.main-faqs-nosotros {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-inline: 150px;
}
.main-faqs-nosotros h2 {
  font-size: calc(1.3em + 1.5vw);
  margin: 20px;
  border-block: 1px solid whitesmoke;
}
.main-faqs-nosotros div {
  margin: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid whitesmoke;
}
.main-faqs-nosotros div strong {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.main-faqs-nosotros div img {
  width: 100%;
}
.main-faqs-nosotros p {
  font-size: 1.1em;
  font-weight: 400;
  font-stretch: 10px;
  line-height: 1.6;
}

@media (max-width: 780px) {
  .main-faqs-nosotros {
    padding-inline: 30px;
  }
  .main-faqs-nosotros h2 {
    font-size: calc(1em + 1.5vw);
  }
  .main-faqs-nosotros strong {
    font-size: 1.1em;
  }
  .main-faqs-nosotros p {
    font-size: 0.8em;
  }
}
/*-------------ESTILO "CONTACTO"--------------*/
#main-contacto h2 {
  font-size: calc(1.3em + 1.5vw);
  border-block: 1px solid whitesmoke;
  margin: 20px;
  text-align: center;
}
#main-contacto div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#main-contacto form {
  display: flex;
  flex-direction: column;
  margin: 0 40px 60px;
}
#main-contacto form label {
  margin-block: 10px;
  font-size: 1.3em;
}
#main-contacto form input {
  width: 250px;
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
}
#main-contacto form textarea {
  width: 250px;
  height: 150px;
  border-radius: 5px;
}
#main-contacto .boton-enviar {
  padding: 0;
  border-bottom: 2px solid #2d2d50;
}
#main-contacto span {
  margin: 0 40px 60px;
}
#main-contacto span strong {
  margin-block: 10px;
  font-size: 1.3em;
}
#main-contacto iframe {
  width: 100%;
  height: 330px;
}

@media (max-width: 720px) {
  #main-contacto div {
    justify-content: flex-start;
    align-items: start;
  }
  #main-contacto div label, #main-contacto div p, #main-contacto div strong {
    font-size: 1.1em;
  }
}
/*----------------Estilo del "Footer"----------------*/
footer {
  margin-top: auto;
}

.foot-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #2d2d50;
  color: #e4dde5;
  font-weight: 300;
  font-style: italic;
  margin-top: 40px;
  padding-top: 20px;
}
.foot-container div {
  margin-inline: 40px;
}
.foot-container div li {
  margin: 5px 0;
  padding: 0;
  text-align: start;
}

.container-medios-pago div {
  margin: 0;
}
.container-medios-pago div img {
  width: 25px;
  height: 15px;
}

.foot-redes div {
  margin: 0;
}
.foot-redes div a {
  margin: 12px;
  font-size: 1.2em;
  text-decoration: none;
  color: #e4dde5;
}

@media (max-width: 576px) {
  .foot-container {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-size: 0.8em;
  }
  .foot-container div {
    margin-block: 0.8em;
  }
}

/*# sourceMappingURL=style.css.map */
