%sub-titulo {
    font-size: calc(1.3rem + 1.5vw);
	border-block: 1px solid whitesmoke;
	margin: 20px;
	text-align: center;
}

%flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-items: center;
	text-align: center;
}

%grid-center {
	display: grid;
	align-items: center;
	justify-content: center;
	justify-items: center;
	text-align: center;
}

/*h2 {
    @extend %sub-titulo;
}*/