@mixin titulo ($fs, $bg, $clr, $pd, $mg) {
    font-style: $fs;
    background: $bg;
    color: $clr;
    padding: $pd;
    margin: $mg;
}

/*h1 {
    @include titulo(italic, map-get($clrs-ppl, bg-1), map-get($clrs-ppl, clr-1), 10px 0 10px 30px, 20px 0)
}*/
