* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-fam;
	list-style-type: none;
	text-decoration: none;
}

#header-nav {
    background: map-get($bdr-ppl, bg-1);
    li {
        margin: 0 8px;
        a{
            color: nth($clrs, 1 );
            font-size: $ft-sz1;
            &:hover {
                color: nth($clrs, 4 );
            }    
        }
    }
}

.nav-ul {
    padding-left: 16px;
}

.buscar-nav {
    input {
        width: 100%;
	    background-color: nth($clrs, 1 );
	    border: none;
	    border-radius: 12px;
	    padding: 6px 15px;
    }
    
}

.image-nav {
	height: 40px;
	margin: 0 1em;
}